:root
{
    --content-width: 60rem;

    --default-400: #535866;
    --default-500: #323746;
    --default-800: #1D2437;
    --accent-500: #7B683F;

    --white-500: #E6E6E6;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-500);
}

/*
* Base Styling
*/

::selection
{
    background-color: var(--accent-500);
    color: black;
}

html
{
    height: 100%;
}

body
{
    background-color: var(--default-800);
    min-height: 100%;
    position:relative;
}

h1, h2, h3
{
    font-family: 'Jura', sans-serif;
}

h1, h2
{
    font-variant: small-caps;
    font-weight: 700;
}

h1
{
    font-size: clamp(2rem, 8vw, 6rem);
}

h2
{
    font-size: 2rem;
    margin-block: 1rem;
}

h3
{
    margin-block: 1.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

p, ul
{
    line-height: 2.1;
}

p
{
    margin-block: 1rem;
}

a
{
    color: inherit;
}

/*
* Layout Styling
*/

section, footer
{
    padding-inline: max(clamp(1.5rem, 4vw, 2rem), calc((100% - var(--content-width)) / 2));
}

section
{
    padding-block: 1.5rem;
    position: relative;
}

footer
{
    background-color: var(--default-400);
    padding-block: 2rem;
}

/*
* Utility Styling
*/

.center
{
    text-align: center;
    margin-inline: auto;
}

.block
{
    display: block;
}

.width-20
{
    width: 20rem;
}

.outline-white
{
    --outline-color: var(--white-500);
}

.grid-2
{
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem 0;
}

.m-top-2-mobile
{
    margin-top: 2rem;
}

/*
* Theme Styling
*/

.important
{
    background-color: var(--default-400);
}

.contemplative
{
    background-color: var(--default-500);
}

.outline
{
    outline: 1px solid var(--outline-color, var(--accent-500));
    outline-offset: var(--outline-offset, 1rem);
}

section::before
{
    content: '';
    width: max(80%, 50rem);
    height: 100%;
    /* background-color: red;
    border: 1px solid blue; */
    background-image: url(skyshot.png);
    mix-blend-mode: screen;
    opacity: 0.5;
    position: absolute;
    background-size: 100% auto;
    top: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
}

section >  *
{
    position: relative;
    z-index: 1;
}


/*
* Item Styling
*/

.hero
{
    --pic-size: 25rem;
}

.hero-img
{
    position: relative;
    shape-outside: circle(50%);
    z-index: 1;
    /* transform: translateX(-5rem); */
}

.hero-img > *
{
    display: block;
    margin-inline: auto;
    width: var(--pic-size);
    aspect-ratio: 1;
    width: var(--pic-size);
    max-width: 100%;
    clip-path: circle(50%);
    border: 1rem solid var(--accent-500);
    border-radius: 100vh;
}

.hero-text h2
{
    --line-hang: 1rem;
    border-bottom: 1px solid var(--accent-500);
}

.demo-vid
{
    aspect-ratio: 1.33;
    width: min(calc(100% - 1rem), 30rem);
    display: block;
    margin-block: 3rem;
}

@media screen and (min-width: 45rem) {

    section
    {
        padding-block: 3.5rem;
    }

    .grid-2
    {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 0 var(--gap, 1rem);
    }

    .m-top-2-mobile
    {
        margin-top: 0;
    }

    .hero
    {        
        margin-block: 4rem;
    }

    .hero-img
    {
        float: right;
        position: relative;
        z-index: 1;
        padding-left: 1rem;
        /* transform: translateX(-5rem); */
    }
    
    .hero-img > *
    {
        width: var(--pic-size);
    }

    .hero-text
    {
        width: calc(100% - var(--pic-size) + 5rem);
        padding-top: 4rem;
    }

    .hero-text h2
    {
        width: calc(100% + var(--line-hang));
        transform: translateX(calc(-1 * var(--line-hang)));
        padding-left: var(--line-hang);
    }
}